body {
    text-align: center;
    font-family: Arial;
    background-color: #111;
    color: white;
}

#game-area {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    background-color: #222;
    border: 2px solid white;
}

#target {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
